# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Environment and local configs
.env
.ae/

# IDE files
.vscode/
.idea/
